Let's get started

In [ ]:
# lets bring pandas
import pandas as pd

In [ ]:
ufo=pd.read_table("iqac_faculty.csv", sep=",")

In [ ]:
ufo.head()

In [ ]:
ufo['quali']

In [ ]:
ufo.tail(10)

In [ ]:
print(ufo)

In [ ]:
df = pd.read_csv("iqac_faculty.csv", skip_blank_lines=True)

In [ ]:
df.tail()

In [ ]:
df = df.dropna(how='all')

In [ ]:
print(df)

In [ ]:
df.to_csv("iqac_faculty_output.csv", index=False)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
pd.set_option("display.max_rows", None)  # To view all rows
print(df)

In [ ]:
df = df.sort_values(by="exp_mm")
print(df)

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# Sort by Age
df = df.sort_values(by="Age", ascending=True)

# Drop the "City" column
df = df.drop(columns=["City"])

# Insert a new column "Info" by concatenating "Name" and "Age"
df["Info"] = df["Name"] + " (" + df["Age"].astype(str) + ")"

# Insert the "Info" column at position 1
df.insert(1, "Info", df.pop("Info"))  # Reorder the column to position 1

print(df)

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# Insert a new column "Info" by concatenating "Name" and "Age"
df["Info"] = df["Name"] + " (" + df["Age"].astype(str) + ")"

# Example Filters
filtered_1 = df[df["Age"] > 25]  # Age > 25
filtered_2 = df[(df["Age"] > 25) & (df["Name"].str.startswith("C"))]  # Age > 25 and Name starts with C
filtered_3 = df[df["Name"].isin(["Alice", "Bob"])]  # Name is Alice or Bob

print("Filtered 1:\n", filtered_1)
print("Filtered 2:\n", filtered_2)
print("Filtered 3:\n", filtered_3)